body {
  background: @main-bg !important;
  color: fade(@text-color, 80%);
}

#page-m #main, #footer, body.outside #mainHeader, .pure-table {
  background: @main-bg;
}

body #mainHeader, #main footer .wrap, footer .wrap {
  background: fade(mix(@highlight-color, @brand-primary, 10%), 25%);
}

h1 {
  color: @text-color;
}

.alert {
  &.alert-default {
    background: fade(@highlight-color, 15%);
    color: mix(@brand-primary, @text-color, 10%);
    border: 1px solid fade(@highlight-color, 15%);
  }
  &.alert-warning {
    background: fade(@brand-warning, 30%);
    color: mix(@brand-warning, @text-color, 30%);
    border: 1px solid fade(@brand-warning, 15%);
  }
}

.panel.panel-bordered {
  background: fade(mix(@brand-primary, @highlight-color, 5%), 20%);
  border: 1px solid fade(@highlight-color, 10%);
}

.page section {
  border-top: 1px solid fade(@highlight-color, 35%);
}

.note {
  color: fade(mix(@brand-secondary, @text-color, 30%), 80%);
}

#footer .wrap {
  color: fade(@text-color, 80%);
}

//kbd, code {
//  background: @main-bg;
//  text-shadow: none;
//  border: 1px solid fade(@highlight-color, 10%);
//  color: @text-color;
//}
