//#messages {
//  .fa.fa-star-o, tr, tr a, tr a:hover, tr strong .fa {
//    color: @text-color;
//  }
//}
//body table#messages tr {
//  .fa:hover, &.unread a:hover, &.unread:hover {
//    color: @text-color;
//  }
//}
// equals
#messages .fa.fa-star-o, #messages tr, #messages tr a, #messages tr a:hover, #messages tr strong .fa,
body table#messages tr .fa:hover, body table#messages tr.unread a:hover, body table#messages tr.unread:hover {
  color: @text-color;
}

//body table#messages {
//  .fa.fa-lock {
//    &.external {
//      color: @text-color !important;
//    }
//  }
//  tr {
//    &.unread, &.starred {
//      &:hover {
//        &, a, td {
//          color: @text-color !important;
//        }
//      }
//    }
//  }
//}
// equals
body table#messages .fa.fa-lock.external,
body table#messages tr.unread:hover, body table#messages tr.unread:hover a, body table#messages tr.unread:hover td,
body table#messages tr.starred:hover, body table#messages tr.starred:hover a, body table#messages tr.starred:hover td {
  color: @text-color !important;
}

body table#messages {
  .fa.fa-lock {
    color: mix(@text-color, @brand-success, 30%) !important;
  }
  .fa.fa-flag {
    color: fade(@brand-success, 70%);
    &:hover {
      color: @brand-success;
    }
  }

  tr {
    background: fade(@highlight-color, 10%);
    &:hover {
      background: fade(@highlight-color, 13%);
    }

    td, &.unread td, &.starred td {
      background: none; // remove dirty default theme background-change
    }

    // unread
    &.unread {
      background: mix(fade(@highlight-color, 15%), @brand-info, 80%);

      //&, a, td {
      //  color: mix(@text-color, @brand-info, 93%) !important;
      //}

      &:hover {
        background: mix(fade(@highlight-color, 18%), @brand-info, 80%);
      }
    }
    // starred
    &.starred {
      background: mix(fade(@highlight-color, 15%), @brand-success, 80%);

      //&, a, td {
      //  color: mix(@text-color, @brand-success, 93%) !important;
      //}

      &:hover {
        background: mix(fade(@highlight-color, 18%), @brand-success, 80%);
      }
    }
  }
}

#messages .locationTag {
  background: fade(@highlight-color, 10%);
  border: 1px solid fade(@highlight-color, 10%);

  &, .fa {
    color: fade(@text-color, 65%) !important;
  }
}
